body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
canvas {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
#info {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
}

#fps {
    color: red;
    font-weight: bold;
    font-size: 1.2em
}

#debug code {
    line-height: 1em
}

#debug {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    left: 1px;
    top: 1px;
}