body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
canvas {
    position: relative;
    margin: 0;
    padding: 0
}
#info {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold
}